#Archivo para declarar que archivos no se guardan en Git:

#No guardamos ningun archivo de la carpeta salida
salida/*.txt

#No le damos seguimiento a los Paquetes de Node, estos pueden cambiar
node_modules/

helpers/notas

config/gitComandos